body {
  background-color: hsl(40, 100%, 72%);
  margin-left: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%, 0% 38%);
  font-family: 'Itim', cursive;
}

h1{
  font-weight: bold;
  animation: blink 3s linear infinite;
  color: #09ec41;
  font-size: xx-large;
}
@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
